@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

*{
    width: 448px;
    height: 335px;
    background: #1B1A17

}
.Titulo{
    font-family: 'Inconsolata', monospace;
    color: #00ADB5;
    position: absolute;
    width: 448px;
    height: 178.5px;
    left: 165.88px;
    top: 275px;
}
.SubTitulo__inicial{
    font-family: 'Inconsolata', monospace;
    color: #F0E3CA;
    position: absolute;
    width: 448px;
    height: 42px;
    left: 165px;
    top: 315px;
}
.Apresentacao__inicial{

    font-family: 'Inconsolata', monospace;
    color: #F0E3CA;
    position: absolute;
    width: 448px;
    height: 42px;
    left: 165px;
    top: 355px;
}

